@use "../../color-pallete.scss" as CP;

:host {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  padding: 20px 1vw;
  width: 98vw;
  height: auto;
  min-height: 10vh;
  max-height: 150vh;
  overflow-y: scroll;
}

div {
  display: flex;
  align-items: flex-end;
  max-height: auto;
}

div button {
  margin:0 auto;
  border-radius: 5px;
}

.text {
  font-size: 1.5em;
}

.text p {
  padding-left: 3px;
}

.material-icons {
  color: CP.$Ternary-color;
}

.noFriendsMessage {
  display: block;
  text-align: center;
  color: var(--mat-primary);
}
