@use '../../../color-pallete.scss' as CP;
form{
    background-color: CP.$Ternary-color;
    width: 35vw;
}

button{
    border-radius: 20px;
}

.upload-button{
    background: CP.$Primary-color;
    color: CP.$Ternary-color;
    width: 30%;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: var(--mat-primary-light);
    }
}

.text{
    font-size: 1.5em;
}

.content{
    height: fit-content;
    overflow: visible;
}