<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="layout">
  <!-- Left Sidebar -->
  <div class="sidebar left-sidebar">
    <!-- Profile Section -->
    <div [routerLink]="['/user/profile', user().email]" class="profile-section">
      <img [src]="'http://localhost:8080/'+user().profilePicURL" alt="Profile Picture" class="profile-pic">
      <label class="leb">{{user().name}}</label>
    </div>
    <!-- Navigation Links -->
    <nav class="sidebar-nav">
      <ul>
        <li routerLink="/feed"><a><i class="fas fa-home"></i> Feed</a></li>
        <li routerLink="/user/messages"><a><i class="fas fa-envelope"></i> Messages</a></li>
        <li routerLink="/user/settings"><a><i class="fas fa-cog"></i> Settings</a></li>
        <li routerLink="/user/friends"><a><i class="fas fa-users"></i>Friends</a></li>
        <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>
  </div>


  <!-- Right Sidebar -->
  <div class="sidebar right-sidebar">
    <!-- About Website Suggestions -->
    <div class="suggestions">
      <h4>Suggestions</h4>
      <ul>
        <li>Explore friends posts on your feed.</li>
        <li>Update your profile to let others know more about you.</li>
        <li>Check your messages to stay connected.</li>
      </ul>
    </div>
  </div>

</div>