@if(user) {
<app-side-feed [user]="user"></app-side-feed> 
}
<div class="dm-container">
  <div class="dm-header">
    <div class="user-info" *ngIf="foundFriend">
      <img [src]="foundFriend.profilePicURL" [alt]="foundFriend.name" class="profile-picture">
      <h2>{{ foundFriend.name }}</h2>
    </div>
  </div>
  
  <div class="messages-container" #messagesContainer>
    <div *ngFor="let message of messages" 
         [ngClass]="{'message': true, 'message-sent': message.sender.email === user()?.email, 'message-received': message.reciever.email === user()?.email}">
      <div class="message-content">
        {{ message.text }}
      </div>
      <div class="message-timestamp">
        {{ message.dateCreated ? (message.dateCreated | date:'shortTime') : 'Just now' }}
      </div>
    </div>
  </div>

  <div class="message-input">
    <input type="text" 
           [(ngModel)]="newMessage" 
           (keyup.enter)="sendMessage()"
           placeholder="Type a message...">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
