<mat-card class="post">
  <mat-card-header>
    <img [src]="imgUrl" onerror="this.src='default-avatar.jpg'" mat-card-avatar />
    <mat-card-title class="text"><b>{{ post().postOwner.name }}</b></mat-card-title>
    <mat-card-subtitle class="text">{{
      post().datePosted | date : "MMM d, y, h:mm a"
      }}</mat-card-subtitle>
  </mat-card-header>
  @if(post().text_content.trim()!==""){
  <mat-card-content>
    <p class="text">
      {{ post().text_content }}
    </p>
  </mat-card-content>
  } @if(post().attachedImagesURLs.length!==0){
  <div class="postedImageContainer">
    @if(post().attachedImagesURLs.length===1){
    <img [src]="post().attachedImagesURLs[0]" />
    }
    @else {
    <c-carousel transition="crossfade">
      <c-carousel-indicators />
      <c-carousel-inner>
        @for (imageUrl of post().attachedImagesURLs; track $index) {
        <c-carousel-item>
          <img [src]="imageUrl" loading="lazy" />
        </c-carousel-item>
        }
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev" />
      <c-carousel-control [routerLink] caption="Next" direction="next" />
    </c-carousel>
  }
  </div>
}
<mat-card-actions>
  @if(isPostOwner()){
  <button mat-button color="warn" (click)="deletePost()" class="text">
    <span class="material-icons"> delete </span>
    <p>Delete</p>
  </button>
  <button mat-button color="primary" (click)="editPost()" class="text">
    <span class="material-icons"> edit </span>
    <p>Edit</p>
  </button>
  }@else{
  <button mat-button color="primary" (click)="likePost()" class="text">
    <span class="material-icons">
        @if(isLikedByLoggedInUser()){ favorite } @else { favorite_border }
      </span>
      <p>@if(isLikedByLoggedInUser()){ Liked } @else { Like }</p>
    </button>
    <button mat-button color="primary" (click)="toggleCommentsSection()" class="text">
      <span class="material-icons"> comment </span>
      <p>Comment</p>
    </button>
  }
  <div class="postInfo">
    <div class="likes">{{ post().likes.length }} Likes</div>
    <div class="comments">{{ post().comments.length }} Comments</div>
  </div>
  </mat-card-actions>
</mat-card>
@if(isCommentsOpen()){
<app-comments-section [post]="post()" />
}