<mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{post().postOwner.name}}</mat-card-title>
      <mat-card-subtitle>{{post().datePosted}}</mat-card-subtitle>
    </mat-card-header>
    @if(post().text_content.trim()!==""){
            <mat-card-content>
                <p>
                    {{post().text_content}}
                </p>
            </mat-card-content>
        }
    @if(post().attachedImagesURLs.length!==0){
        <div>
            @for (imageUrl of post().attachedImagesURLs; track $index) {
                <img [src]="imageUrl">
            }
        </div>
    }
    <mat-card-actions>
        <button mat-fab extended >
            <span class="material-icons">
                @if(true){
                    favorite
                }
                @else {
                    favorite_border
                }
            </span>
            Like
        </button>
        <button mat-fab extended>
            <span class="material-icons">
                comment
            </span>
            Comment
        </button>
    </mat-card-actions>
  </mat-card>  